/*

!nvim
!neofetch
!nnn
!ranger
!sketchybar
!yabai
!vsvim
!kitty
!wallpapers
!color

!.zsh
.zsh/*
!.zsh/.zshrc
!.zsh/.zprofile
!.zsh/configs
!.zsh/scripts
!.zsh/functions

!.gitignore
!README.md

nvim/.DS_Store
nvim/lazy-lock.json
